@import "tailwindcss";
@import "./typography.css";

@theme {
  /* Primary Colors */
  --color-mint: #37cdac;
  --color-mint-contrast: #1f9f8a;
  --color-mint-light: #f2fffc;
  --color-mint-press: #216d60;

  /* Secondary Colors */
  --color-violet: #a568ff;
  --color-violet-ultralight: #faf5ff;
  --color-violet-dark: #8041de;

  /* Grayscale */
  --color-gray-0: #f7f8fa;
  --color-gray-100: #f4f6fb;
  --color-gray-200: #e9ecf3;
  --color-gray-300: #dbdee8;
  --color-gray-400: #c8ccd7;
  --color-gray-500: #b1b5c0;
  --color-gray-600: #9498a2;
  --color-gray-700: #71747c;
  --color-gray-800: #484a4f;
  --color-gray-900: #1e1f21;

  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Semantic Colors */
  --color-red: #ff585b;
  --color-red-light: #ffebeb;
}

@layer base {
  body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@layer utilities {
  /* gradient */
  .bg-gradient-upper {
    background: linear-gradient(
      180deg,
      rgba(200, 204, 215, 0) 30.77%,
      rgba(200, 204, 215, 0.8) 89.42%
    );
  }

  .bg-gradient-down {
    background: linear-gradient(
      180deg,
      rgba(200, 204, 215, 0.8) 12.02%,
      rgba(200, 204, 215, 0) 75.96%
    );
  }

  /* blur */
  .backdrop-blur-4 {
    background: #1e1f21cc;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  /* scrollbar hide */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* rc-slider 스타일 커스텀 */
.custom-slider .rc-slider-rail {
  height: 4px;
  background-color: var(--color-gray-100);
}

.custom-slider .rc-slider-track {
  height: 4px;
  background-color: var(--color-mint);
}

.custom-slider .rc-slider-handle {
  background-color: var(--color-mint);
  border-color: transparent;
  opacity: 1;
  transition: none;
  margin-top: -6px;
  width: 16px;
  height: 16px;
}

.custom-slider .rc-slider-handle,
.custom-slider .rc-slider-handle:active,
.custom-slider .rc-slider-handle:focus,
.custom-slider .rc-slider-handle:hover {
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--color-mint) !important;
}

.custom-slider .rc-slider-dot {
  display: none;
}

.custom-slider .rc-slider-mark {
  top: calc(50% + 10px);
  transform: translateY(-50%);
}
